<div class="card p-0">
    <div class="card-header">
      Comments
    </div>
    <div class="card-body text-start">
        <input type="hidden" value="{{post_id}}" name="post_id"/>
      <h5 class="card-title">Comments About {{post_title}}</h5>
        {% if not comments %}
        <div class="alert alert-info" role="alert">
            Not Comment Yet !
            {% if session["user_id"] %}
                Add New Comment Now!
            {% endif %}
            {% if not session["user_id"] %}
                Please Login To add New Comment !
            {% endif %}
        </div>
        {% endif %}

        {% for c in comments %}
        <p class="alert alert-light">
            {{c['username']}} : {{c['comment']}}
        </p>
        {% endfor %}
        
        {% if session["user_id"] %}
        <button onclick=addNewComment(this) type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewCommentModal">
            Add New Comment
        </button>
        <!-- add new comment Modal -->
        <div class="modal fade" id="addNewCommentModal" tabindex="-1" aria-labelledby="addNewCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="addNewCommentModalLabel">Add new Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>