{% block main %}
<ul class="list-group">
    {% for p in posts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>{{p['title']}}</p>
            <div class="d-flex">
                <form class="m-1" id="edit_post_form" action="" method="post">
                    <input type="hidden" value="{{p['id']}}" name="post_edit_id"/>
                    <button type="button" onclick=edit_post(this) class="btn btn-warning">
                        <i class="fa fa-edit" style="font-size:13px"></i>
                        <span style="font-size: 15px;">Edit</span>
                    </button>
                </form>

                <form class="m-1" id="" action="" method="post">
                    <input type="hidden" value="{{p['id']}}" name="post_remove_id"/>
                    <button type="button" onclick=remove_post(this) class="btn btn-danger">
                        <i class="fa fa-trash" style="font-size:13px"></i>
                        <span style="font-size: 15px;">Remove</span>
                    </button>
                </form>
            </div>
        </li>
    {% endfor %}
  </ul>

{% endblock %}